* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
html {
  color: white;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 1600px;
}

main {
  width: 100%;
  @include flex-column(0rem);

  section {
    width: 100%;
    @include flex-column(2rem);

    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .bottom {
      background-color: rgb(87, 83, 83);
      border-radius: 10px;
      @include flex-column(2.2rem);
      padding: 1rem;

      .text {
        @include flex-column(0.7rem);
      }
      h1 {
        font-size: 3rem;
        font-weight: 200;
        text-transform: uppercase;
      }
      p {
        font-weight: 300;
        font-size: 1.2rem;
        opacity: 0.6;
        line-height: 1.5rem;
      }

      button {
        width: fit-content;
        border: none;
        overflow: none;
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    section {
      flex-direction: row;
      padding: 0rem 2rem;
      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          h1 {
            font-size: 3.5rem;
          }
          p {
            width: 60%;
            font-size: 1.5rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}
