* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
html {
  font-size: clamp(16px, 2vw, 20px);
}

.red {
  height: 500px;
  width: 500px;
//   1vw = 5px
  background-color: red;

    .blue {
        height: 100%;
        width: 50%;
        background-color: blue;
    }
}


h1 {
  font-size: 1rem;
  // rem depends on the value given to the root element
}