*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}

#car1{
    height: 200px;
    width: 300px;
    background-color: red;
   
}

#car2{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: rgb(7, 7, 7);
   
}

#car3{
    height: 300px;
    width: 250px;
    background-color: rgb(112, 70, 70);
   
}

.box{
    height: 500px;
    width: 500px;
    background-color: rgb(255, 17, 0);
}

.small-box{

    position: relative;
    height: 400px;
    width: 400px;
    background-color: blue;

}
.micro-box{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: yellow;
}

.micro-inner-box{
    position: absolute;
    left: 50%;
 
    height: 100px;
    width: 100px;
    background-color: green;
}

.home-page{

    height: 3000px;
    width: 100%;
    background: #ffffff;
}

.side{
    position: fixed;
    right: 2%;
    top: 50%;
    height: 300px;
    width: 200px;
    background-color: black;
}

.parent{
    width: 100%;
    height: 3000px;
    background-color: brown;
}
.child{
    width: 100%;
    height: 1000px;
    background-color: red;

}
.child2{
    height: 200px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    position:sticky;
    top:0;
}
.sticky{
    position: sticky;
    top: 0;
    height: 100px;
    width: 400px;
    background-color: blue;
}