*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
  
}

h1{
    /* to make a text contain an image you can add gif too but not video */
    font-size: 200px;
    color:transparent;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNlbGx8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    margin-top: 20px;
    display: inline-block;
    background-size: cover;
    background-clip: text;
    
}

h2{
    font-size: 100px;
    color:transparent;
    background:url('https://plus.unsplash.com/premium_photo-1669751999575-aaf9d5ff87da?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29sb3JzfGVufDB8fDB8fHww');
    margin-top: 20px;
    background-size: cover;
    background-clip: text;
}

/* for adding borders in texts */
h3{
    font-size: 80px;
    color:transparent;
    margin-top: 20px;
   -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.parent{
    height: 500px;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.child{
    height: 100%;
    width: 100%;
    border: 2px solid white;

}

.child img{
height: 100%;
width: 100%;
object-fit: cover;
}

.parent::-webkit-scrollbar{
    background-color: aqua;
}

.parent::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 20px;
}