* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "left-top top-center top-right"
        "left-top center bottom-right"
        "left-bottom left-bottom bottom-right";

    gap: 10px;
    padding: 10px;
}

.left-top {
    background-color: #333;
    grid-area: left-top;
}
.left-bottom {
    background-color: #555;
    grid-area: left-bottom;
}
.center {
    background-color: #777;
    grid-area: center;
}
.bottom-right {
    background-color: #999;
    grid-area: bottom-right;
}
.top-center {
    background-color: #bbb;
    grid-area: top-center;
}
.top-right {
    background-color: #ccc;
    grid-area: top-right;
}
