*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
  
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 50% 1fr;
    grid-template-areas: 
    "header header header"
    "section section section"
    "div1 div2 div3";
    grid-gap: 10px;
    padding: 20px;



}

header{
background-color: bisque;
grid-area: header;
}

section{
    background-color: beige;
grid-area: section;
}

.div1{
    background-color: lightgray;
    grid-area: div1;
}

.div2{
    background-color: lightgray;
    grid-area: div2;
}

.div3{
    background-color: lightgray;
    grid-area: div3;
}
