*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
  
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas:
        "header header header"
        "aside section div1"
        "aside div2 div3"
        "footer footer footer";
    gap: 10px;
    padding: 10px;
}

header {
    background-color: #333;
    grid-area: header;

}
aside{
    background-color: #555;
    grid-area: aside;
}
section{
    background-color: #777;
    grid-area: section;
}
.div1{
    background-color: #999;
    grid-area: div1;
}
.div2{
    background-color: #bbb;
    grid-area: div2;
}
.div3{
    background-color: #ccc;
    grid-area: div3
   ;
}
footer{
    background-color: #ddd;
    color: black;
    grid-area: footer;
}