*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{ 
    width: 100%;
    height: 100%;
}

.hero-box{
    
    font-family: "LactureDemo-Regular";
    background-color: rgb(22,43,69);
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 10  px;
    text-align: center;
    line-height: 1.2;
 
}

.skill-list{
    color: #fdfdfd;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.about-me{
    color: #000000;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    justify-content: center;
    
}
.card{
    height: 400px;
    width: 400px;
    color: #000000;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

