*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
  
}

h1{
    color: red;
    background-color: black;
    margin-top: 20px;
    display: inline-block;
}
h2{
    color: blue;
    background-color: yellow;
    margin-top: 20px;
    display: inline-block;
}

.parent{
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.child{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: lightgrey;
    margin: 10px;
}

.child:nth-child(2n){
    background-color: lightblue;
}

.child:nth-child(3n){
    background-color: lightgreen;
}
.child:nth-child(4n){
    background-color: lightpink;
}

.child:nth-child(5n){
    background-color: lightcoral;
}

.child:nth-child(6n){
    background-color: lightyellow;
}

.child:nth-child(7n){
    background-color: lightcyan;
}

/* nth-last-child(no)  for doing it from last*/
